$color-primary: #22313F;
$color-secondary: #FFCC00;
$color-accent: #800020;
$color-light: #FFF;
$color-background: #F2F2E5;
$color-text: #333;
$color-muted: #555;
$color-border: #D3D3D3;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);