.header {
    background: $color-primary;
    color: $color-light;
    padding: 1rem 0;

    &__title {
        text-align: center;
    }

    &__nav-list {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    &__nav-item {
        margin: 0 1rem;
    }

    &__link {
        color: $color-light;
        text-decoration: none;
    }
}